<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.pig.admin.mapper.BackMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.github.pig.admin.model.entity.BackMoney" >
    <id column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="TOPORGID" property="toporgid" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputuserid" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputorgid" jdbcType="VARCHAR" />
    <result column="INPUTTIME" property="inputtime" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CERTID" property="certid" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="PAYTIME" property="paytime" jdbcType="VARCHAR" />
    <result column="IMPTIME" property="imptime" jdbcType="VARCHAR" />
    <result column="INMONEY" property="inmoney" jdbcType="VARCHAR" />
    <result column="DUEMONEY" property="duemoney" jdbcType="VARCHAR" />
    <result column="DUEINTEREST" property="dueinterest" jdbcType="VARCHAR" />
    <result column="BATCHNO" property="batchno" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="BALANCE" property="balance" jdbcType="VARCHAR" />
    <result column="OWNERID" property="ownerid" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByCard" parameterType="String" resultType="com.github.pig.admin.model.entity.BackMoney">
    SELECT * FROM back_money WHERE CARDNO = #{card}
  </select>

    <select id="selectPageNoKey" resultType="com.github.pig.admin.model.entity.CaseInfo">
        select c.name,c.batchno ,c.bankname,c.cardno,m.imptime as inputtime,m.inmoney as backbalance,c.ownerid
        from case_info c
        right join back_money m on m.cid=c.guid
        LEFT JOIN case_contacts b ON c.GUID = b.CID
        where 1=1   and   m.cid=c.guid
        <if test="ownerid != null and ownerid != ''">
            and c.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and c.batchno = #{batchno}
        </if>
        <if test="bankname != null and bankname != ''">
            and c.bankname = #{bankname}
        </if>
    </select>

    <select id="selectPage" resultType="com.github.pig.admin.model.entity.CaseInfo">
        select c.guid,m.name,c.batchno ,c.bankname,c.cardno,c.certno,c.addr,c.mobile,c.balance,m.imptime as inputtime,m.inmoney as backbalance,c.ownerid
        from case_info c
        right join back_money m on m.cid=c.guid
        where 1=1   and   m.cid=c.guid
        <if test="ownerid != null and ownerid != ''">
            and c.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and c.batchno = #{batchno}
        </if>
        <if test="bankname != null and bankname != ''">
            and m.name LIKE CONCAT('%',#{bankname},'%')
        </if>
    </select>

    <select id="selectSum" resultType="integer">
        SELECT COUNT(*)
        FROM case_info c
        RIGHT JOIN back_money m ON m.cid=c.guid
        WHERE 1=1   AND   m.cid=c.guid
        <if test="ownerid != null and ownerid != ''">
            and c.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and c.batchno = #{batchno}
        </if>
        <if test="bankname != null and bankname != ''">
            and m.name LIKE CONCAT('%',#{bankname},'%')
        </if>
    </select>

    <select id="selectCountNoKey" resultType="java.lang.Integer">
        select count(c.name) from case_info c
        right join back_money m on m.cid=c.guid   LEFT JOIN case_contacts b ON c.GUID = b.CID
        where 1=1  and   m.cid=c.guid

        <if test="ownerid != null and ownerid != ''">
            and c.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and c.batchno = #{batchno}
        </if>
        <if test="bankname != null and bankname != ''">
            and c.bankname = #{bankname}
        </if>
    </select>

  <select id="selectPageByKey" resultType="com.github.pig.admin.model.entity.CaseInfo">
    select c.name,c.batchno ,c.bankname,c.cardno,m.imptime as inputtime,m.inmoney as backbalance,c.ownerid
    from case_info c
    right join back_money m on m.cid=c.guid
    LEFT JOIN case_contacts b ON c.GUID = b.CID
    where 1=1 and   m.cid=c.guid

    AND
    CONCAT_WS(
    IFNULL(c.ADDR,'无'),
    IFNULL(c.`NAME`,'无'),
    IFNULL(c.MOBILE,'无'),
    IFNULL(c.DEPTNAME,'无'),
    IFNULL(c.HOMEADDR,'无'),
    IFNULL(c.CERTNO,'无'),
    IFNULL(c.CARDNO,'无'),
    IFNULL(b.CELLPHONE,'无'),
    IFNULL(b.`NAME`,'无'),
    IFNULL(b.REMARK,'无')
    ) LIKE CONCAT('%',#{keyWord},'%')
    <if test="ownerid != null and ownerid != ''">
      and c.ownerid = #{ownerid}
    </if>
    <if test="batchno != null and batchno != ''">
      and c.batchno = #{batchno}
    </if>
      <if test="bankname != null and bankname != ''">
          and c.bankname = #{bankname}
      </if>


  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(c.name) from case_info c
    right join back_money m on m.cid=c.guid
    LEFT JOIN case_contacts b ON c.GUID = b.CID
    where  bankname = #{bankname}
      and   m.cid=c.guid
    AND
    CONCAT_WS(
    IFNULL(c.ADDR,'无'),
    IFNULL(c.`NAME`,'无'),
    IFNULL(c.MOBILE,'无'),
    IFNULL(c.DEPTNAME,'无'),
    IFNULL(c.HOMEADDR,'无'),
    IFNULL(c.CERTNO,'无'),
    IFNULL(c.CARDNO,'无'),
    IFNULL(b.CELLPHONE,'无'),
    IFNULL(b.`NAME`,'无'),
    IFNULL(b.REMARK,'无')
    ) LIKE CONCAT('%',#{keyWord},'%')
      <if test="ownerid != null and ownerid != ''">
          and c.ownerid = #{ownerid}
      </if>
      <if test="batchno != null and batchno != ''">
          and c.batchno = #{batchno}
      </if>
      <if test="bankname != null and bankname != ''">
          and c.bankname = #{bankname}
      </if>
  </select>

  <select id="selectBackMoneyById" resultType="com.github.pig.admin.model.entity.BackMoney">
    select name from back_money where cid = #{cid} limit #{page},#{limit}
  </select>

    <select id="selectBackMoneyByIdCount" parameterType="string" resultType="int">
        select count(*) from back_money where cid = #{cid}
    </select>
</mapper>