<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.CaseInfoMapper">
    <resultMap id="BaseResultMap" type="com.github.pig.admin.model.entity.CaseInfo">
        <id column="GUID" jdbcType="VARCHAR" property="guid" />
        <result column="TOPORGID" jdbcType="VARCHAR" property="toporgid" />
        <result column="INPUTTIME" jdbcType="VARCHAR" property="inputtime" />
        <result column="BATCHNO" jdbcType="VARCHAR" property="batchno" />
        <result column="BATCHNOTYPE" jdbcType="VARCHAR" property="batchnoType" />
        <result column="BANKID" jdbcType="VARCHAR" property="bankid" />
        <result column="BANKNAME" jdbcType="VARCHAR" property="bankname" />
        <result column="BRANCH" jdbcType="VARCHAR" property="branch" />
        <result column="SUB_BRANCH" jdbcType="VARCHAR" property="subBranch" />
        <result column="OPERATORORG" jdbcType="VARCHAR" property="operatororg" />
        <result column="OPERATTIME" jdbcType="VARCHAR" property="operattime" />
        <result column="BATCHENDDATE" jdbcType="VARCHAR" property="batchenddate" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PINYIN" jdbcType="VARCHAR" property="pinyin" />
        <result column="SEX" jdbcType="VARCHAR" property="sex" />
        <result column="CERTNO" jdbcType="VARCHAR" property="certno" />
        <result column="QQ" jdbcType="VARCHAR" property="qq" />
        <result column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
        <result column="ADDR" jdbcType="VARCHAR" property="addr" />
        <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
        <result column="TEL" jdbcType="VARCHAR" property="tel" />
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
        <result column="BILLADDR" jdbcType="VARCHAR" property="billaddr" />
        <result column="BILLZIPCODE" jdbcType="VARCHAR" property="billzipcode" />
        <result column="REGADDR" jdbcType="VARCHAR" property="regaddr" />
        <result column="REGZIPCODE" jdbcType="VARCHAR" property="regzipcode" />
        <result column="DEPTNAME" jdbcType="VARCHAR" property="deptname" />
        <result column="DEPTADDR" jdbcType="VARCHAR" property="deptaddr" />
        <result column="DEPTZIPCODE" jdbcType="VARCHAR" property="deptzipcode" />
        <result column="DEPTTEL" jdbcType="VARCHAR" property="depttel" />
        <result column="JOBTITLE" jdbcType="VARCHAR" property="jobtitle" />
        <result column="HOMEADDR" jdbcType="VARCHAR" property="homeaddr" />
        <result column="HOMEZIPCODE" jdbcType="VARCHAR" property="homezipcode" />
        <result column="HOMETEL" jdbcType="VARCHAR" property="hometel" />
        <result column="HOLDERREMARK" jdbcType="VARCHAR" property="holderremark" />
        <result column="CLOSEDATE" jdbcType="VARCHAR" property="closedate" />
        <result column="CASEPROPERTY" jdbcType="VARCHAR" property="caseproperty" />
        <result column="CASETYPE" jdbcType="VARCHAR" property="casetype" />
        <result column="APPLYNO" jdbcType="VARCHAR" property="applyno" />
        <result column="BUSSNO" jdbcType="VARCHAR" property="bussno" />
        <result column="CARDNO" jdbcType="VARCHAR" property="cardno" />
        <result column="OPEN_DATE" jdbcType="VARCHAR" property="openDate" />
        <result column="CREDIT" jdbcType="VARCHAR" property="credit" />
        <result column="BILLDATE" jdbcType="VARCHAR" property="billdate" />
        <result column="EXPIRE" jdbcType="VARCHAR" property="expire" />
        <result column="BALANCE" jdbcType="VARCHAR" property="balance" />
        <result column="LASTPAYDATE" jdbcType="VARCHAR" property="lastpaydate" />
        <result column="LASTPAYSUM" jdbcType="VARCHAR" property="lastpaysum" />
        <result column="LEVEL" jdbcType="VARCHAR" property="level" />
        <result column="PROD" jdbcType="VARCHAR" property="prod" />
        <result column="LOANDATE" jdbcType="VARCHAR" property="loandate" />
        <result column="LOANTERM" jdbcType="VARCHAR" property="loanterm" />
        <result column="OVERDUEDATE" jdbcType="VARCHAR" property="overduedate" />
        <result column="OVERDUEDAYS" jdbcType="VARCHAR" property="overduedays" />
        <result column="OVERDUEPERIOD" jdbcType="VARCHAR" property="overdueperiod" />
        <result column="OVERDUEBEGINPERIOD" jdbcType="VARCHAR" property="overduebeginperiod" />
        <result column="PUTOUTSUM" jdbcType="VARCHAR" property="putoutsum" />
        <result column="PERBACKSUM" jdbcType="VARCHAR" property="perbacksum" />
        <result column="BUSSNESSSUM" jdbcType="VARCHAR" property="bussnesssum" />
        <result column="OVERDUECORPUS" jdbcType="VARCHAR" property="overduecorpus" />
        <result column="OVERINTEREST" jdbcType="VARCHAR" property="overinterest" />
        <result column="WYJ" jdbcType="VARCHAR" property="wyj" />
        <result column="FXINTEREST" jdbcType="VARCHAR" property="fxinterest" />
        <result column="FULI" jdbcType="VARCHAR" property="fuli" />
        <result column="LOANPERIOD" jdbcType="VARCHAR" property="loanperiod" />
        <result column="PAIEDPERIOD" jdbcType="VARCHAR" property="paiedperiod" />
        <result column="PAIEDTOTAL" jdbcType="VARCHAR" property="paiedtotal" />
        <result column="YONGJINBILI" jdbcType="VARCHAR" property="yongjinbili" />
        <result column="YONGJIN" jdbcType="VARCHAR" property="yongjin" />
        <result column="MANAGEMENT" jdbcType="VARCHAR" property="management" />
        <result column="POUNDAGE" jdbcType="VARCHAR" property="poundage" />
        <result column="ASSURETYPE" jdbcType="VARCHAR" property="assuretype" />
        <result column="ASSUREPROD" jdbcType="VARCHAR" property="assureprod" />
        <result column="CASEREMARK" jdbcType="VARCHAR" property="caseremark" />
        <result column="LASTCONTACTNAME" jdbcType="VARCHAR" property="lastcontactname" />
        <result column="LASTCONTACTTIME" jdbcType="VARCHAR" property="lastcontacttime" />
        <result column="LASTCONTACTRESULT" jdbcType="VARCHAR" property="lastcontactresult" />
        <result column="LASTCONTACTCONTENT" jdbcType="VARCHAR" property="lastcontactcontent" />
        <result column="LASTATTITUDE" jdbcType="VARCHAR" property="lastattitude" />
        <result column="LASTPAYTYPE" jdbcType="VARCHAR" property="lastpaytype" />
        <result column="LASTPROMISEMONEY" jdbcType="VARCHAR" property="lastpromisemoney" />
        <result column="LASTPAYTIME" jdbcType="VARCHAR" property="lastpaytime" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="OWNERID" jdbcType="VARCHAR" property="ownerid" />
        <result column="NOTE" jdbcType="VARCHAR" property="note" />
        <result column="INPUTORGID" jdbcType="VARCHAR" property="inputorgid" />
        <result column="INPUTUSERID" jdbcType="VARCHAR" property="inputuserid" />
        <result column="UNTELDAYS" jdbcType="VARCHAR" property="unteldays" />
        <result column="EXITDAYS" jdbcType="VARCHAR" property="exitdays" />
        <result column="CASEHOLDID" jdbcType="VARCHAR" property="caseholdid" />
        <result column="CSUSERID" jdbcType="VARCHAR" property="csuserid" />
        <result column="ORGID" jdbcType="VARCHAR" property="orgid" />
        <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
        <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
        <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
        <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
        <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
        <result column="ATTRIBUTE6" jdbcType="VARCHAR" property="attribute6" />
        <result column="ATTRIBUTE7" jdbcType="VARCHAR" property="attribute7" />
        <result column="ATTRIBUTE8" jdbcType="VARCHAR" property="attribute8" />
        <result column="ATTRIBUTE9" jdbcType="VARCHAR" property="attribute9" />
        <result column="ATTRIBUTE10" jdbcType="VARCHAR" property="attribute10" />
        <result column="ATTRIBUTE11" jdbcType="VARCHAR" property="attribute11" />
        <result column="ATTRIBUTE12" jdbcType="VARCHAR" property="attribute12" />
        <result column="ATTRIBUTE13" jdbcType="VARCHAR" property="attribute13" />
        <result column="ATTRIBUTE14" jdbcType="VARCHAR" property="attribute14" />
        <result column="ATTRIBUTE15" jdbcType="VARCHAR" property="attribute15" />
        <result column="ATTRIBUTE16" jdbcType="VARCHAR" property="attribute16" />
        <result column="ATTRIBUTE17" jdbcType="VARCHAR" property="attribute17" />
        <result column="ATTRIBUTE18" jdbcType="VARCHAR" property="attribute18" />
        <result column="ATTRIBUTE19" jdbcType="VARCHAR" property="attribute19" />
        <result column="ATTRIBUTE20" jdbcType="VARCHAR" property="attribute20" />
        <result column="CASESTATUS" jdbcType="VARCHAR" property="casestatus" />
        <result column="BACKBALANCE" jdbcType="VARCHAR" property="backbalance" />
    </resultMap>
    <insert id="inserCaseInfo" parameterType="com.github.pig.admin.model.entity.CaseInfo" >
        insert into case_info (GUID, TOPORGID, INPUTTIME,
        BATCHNO, BANKID, BANKNAME,
        BRANCH, SUB_BRANCH, OPERATORORG,
        OPERATTIME, BATCHENDDATE, NAME,
        PINYIN, SEX, CERTNO,
        QQ, WEIXIN, ADDR, ZIPCODE,
        TEL, MOBILE, EMAIL,
        BILLADDR, BILLZIPCODE, REGADDR,
        REGZIPCODE, DEPTNAME, DEPTADDR,
        DEPTZIPCODE, DEPTTEL, JOBTITLE,
        HOMEADDR, HOMEZIPCODE, HOMETEL,
        HOLDERREMARK, CLOSEDATE, CASEPROPERTY,
        CASETYPE, APPLYNO, BUSSNO,
        CARDNO, OPEN_DATE, CREDIT,
        BILLDATE, EXPIRE, BALANCE,
        LASTPAYDATE, LASTPAYSUM, LEVEL,
        PROD, LOANDATE, LOANTERM,
        OVERDUEDATE, OVERDUEDAYS, OVERDUEPERIOD,
        OVERDUEBEGINPERIOD, PUTOUTSUM, PERBACKSUM,
        BUSSNESSSUM, OVERDUECORPUS, OVERINTEREST,
        WYJ, FXINTEREST, FULI,
        LOANPERIOD, PAIEDPERIOD, PAIEDTOTAL,
        YONGJINBILI, YONGJIN, MANAGEMENT,
        POUNDAGE, ASSURETYPE, ASSUREPROD,
        CASEREMARK, LASTCONTACTNAME, LASTCONTACTTIME,
        LASTCONTACTRESULT, LASTCONTACTCONTENT,
        LASTATTITUDE, LASTPAYTYPE, LASTPROMISEMONEY,
        LASTPAYTIME, STATUS, OWNERID,
        NOTE, INPUTORGID, INPUTUSERID,
        UNTELDAYS, EXITDAYS, CASEHOLDID,
        CSUSERID, ORGID, ATTRIBUTE1,
        ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4,
        ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7,
        ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10,
        ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13,
        ATTRIBUTE14, ATTRIBUTE15, ATTRIBUTE16,
        ATTRIBUTE17, ATTRIBUTE18, ATTRIBUTE19,
        ATTRIBUTE20, CASESTATUS, BACKBALANCE
        )
        values (#{guid,jdbcType=VARCHAR}, #{toporgid,jdbcType=VARCHAR}, #{inputtime,jdbcType=VARCHAR},
        #{batchno,jdbcType=VARCHAR}, #{bankid,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR},
        #{branch,jdbcType=VARCHAR}, #{subBranch,jdbcType=VARCHAR}, #{operatororg,jdbcType=VARCHAR},
        #{operattime,jdbcType=VARCHAR}, #{batchenddate,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{pinyin,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{certno,jdbcType=VARCHAR},
        #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR},
        #{tel,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{billaddr,jdbcType=VARCHAR}, #{billzipcode,jdbcType=VARCHAR}, #{regaddr,jdbcType=VARCHAR},
        #{regzipcode,jdbcType=VARCHAR}, #{deptname,jdbcType=VARCHAR}, #{deptaddr,jdbcType=VARCHAR},
        #{deptzipcode,jdbcType=VARCHAR}, #{depttel,jdbcType=VARCHAR}, #{jobtitle,jdbcType=VARCHAR},
        #{homeaddr,jdbcType=VARCHAR}, #{homezipcode,jdbcType=VARCHAR}, #{hometel,jdbcType=VARCHAR},
        #{holderremark,jdbcType=VARCHAR}, #{closedate,jdbcType=VARCHAR}, #{caseproperty,jdbcType=VARCHAR},
        #{casetype,jdbcType=VARCHAR}, #{applyno,jdbcType=VARCHAR}, #{bussno,jdbcType=VARCHAR},
        #{cardno,jdbcType=VARCHAR}, #{openDate,jdbcType=VARCHAR}, #{credit,jdbcType=VARCHAR},
        #{billdate,jdbcType=VARCHAR}, #{expire,jdbcType=VARCHAR}, #{balance,jdbcType=VARCHAR},
        #{lastpaydate,jdbcType=VARCHAR}, #{lastpaysum,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR},
        #{prod,jdbcType=VARCHAR}, #{loandate,jdbcType=VARCHAR}, #{loanterm,jdbcType=VARCHAR},
        #{overduedate,jdbcType=VARCHAR}, #{overduedays,jdbcType=VARCHAR}, #{overdueperiod,jdbcType=VARCHAR},
        #{overduebeginperiod,jdbcType=VARCHAR}, #{putoutsum,jdbcType=VARCHAR}, #{perbacksum,jdbcType=VARCHAR},
        #{bussnesssum,jdbcType=VARCHAR}, #{overduecorpus,jdbcType=VARCHAR}, #{overinterest,jdbcType=VARCHAR},
        #{wyj,jdbcType=VARCHAR}, #{fxinterest,jdbcType=VARCHAR}, #{fuli,jdbcType=VARCHAR},
        #{loanperiod,jdbcType=VARCHAR}, #{paiedperiod,jdbcType=VARCHAR}, #{paiedtotal,jdbcType=VARCHAR},
        #{yongjinbili,jdbcType=VARCHAR}, #{yongjin,jdbcType=VARCHAR}, #{management,jdbcType=VARCHAR},
        #{poundage,jdbcType=VARCHAR}, #{assuretype,jdbcType=VARCHAR}, #{assureprod,jdbcType=VARCHAR},
        #{caseremark,jdbcType=VARCHAR}, #{lastcontactname,jdbcType=VARCHAR}, #{lastcontacttime,jdbcType=VARCHAR},
        #{lastcontactresult,jdbcType=VARCHAR}, #{lastcontactcontent,jdbcType=VARCHAR},
        #{lastattitude,jdbcType=VARCHAR}, #{lastpaytype,jdbcType=VARCHAR}, #{lastpromisemoney,jdbcType=VARCHAR},
        #{lastpaytime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{ownerid,jdbcType=VARCHAR},
        #{note,jdbcType=VARCHAR}, #{inputorgid,jdbcType=VARCHAR}, #{inputuserid,jdbcType=VARCHAR},
        #{unteldays,jdbcType=VARCHAR}, #{exitdays,jdbcType=VARCHAR}, #{caseholdid,jdbcType=VARCHAR},
        #{csuserid,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR},
        #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR},
        #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR},
        #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR},
        #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR},
        #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}, #{attribute16,jdbcType=VARCHAR},
        #{attribute17,jdbcType=VARCHAR}, #{attribute18,jdbcType=VARCHAR}, #{attribute19,jdbcType=VARCHAR},
        #{attribute20,jdbcType=VARCHAR}, #{casestatus,jdbcType=VARCHAR}, #{backbalance,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectCaseDTO" parameterType="String" resultType="com.github.pig.admin.model.dto.CaseDTO">
        select a.*,b.BALANCE AS blackBalance
            from case_info a
            LEFT JOIN
            back_money b
            ON
            a.CARDNO = b.CARDNO
            WHERE
	        a.GUID = #{guid}
	        ORDER BY b.INPUTTIME DESC limit 1
    </select>

    <select id="selectPageByKey" resultType="com.github.pig.admin.model.entity.CaseInfo">
        SELECT
        a.*
        FROM
        case_info a
--         LEFT JOIN case_contacts b ON a.GUID = b.CID
        WHERE 1=1 AND bankname = #{bankname}

        <if test="ownerid != null and ownerid != ''">
            and a.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and a.batchno = #{batchno}
        </if>
        <if test="batchnoType != null and batchnoType != ''">
            and a.batchnoType = #{batchnoType}
        </if>
        <if test="certno != null and certno != ''">
            and a.certno = #{certno}
        </if>
        <if test="frontTime != null and frontTime !='' and rearTime != null and rearTime !=''">
            and a.inputtime BETWEEN #{frontTime} and #{rearTime}
        </if>
        AND
        CONCAT(a.`NAME`,a.CARDNO,a.CERTNO,a.MOBILE,a.HOMEADDR) LIKE CONCAT('%',#{keyWord},'%')
        <if test = "sort == 'DESC' ">
            ORDER BY  CAST(balance AS DECIMAL) DESC
        </if>
        <if test = "sort == 'ASC' ">
            ORDER BY  CAST(balance AS DECIMAL) ASC
        </if>
        <if test = "followSort != null and followSort != ''">
            ORDER BY CAST(a.OVERDUE AS SIGNED) ${followSort}
        </if>
        limit #{current},#{limit}


    </select>

    <!--<select id="selectPageByKey" resultType="com.github.pig.admin.model.entity.CaseInfo">
        SELECT
            a.*
        FROM
            case_info a
        LEFT JOIN case_contacts b ON a.GUID = b.CID
        LEFT JOIN sys_user c ON a.OWNERID = c.old_user_id
        WHERE 1=1 AND bankname = #{bankname}

        AND
            CONCAT_WS(
                IFNULL(a.ADDR,'无'),
                IFNULL(a.`NAME`,'无'),
                IFNULL(a.MOBILE,'无'),
                IFNULL(a.DEPTNAME,'无'),
                IFNULL(a.HOMEADDR,'无'),
                 IFNULL(a.CERTNO,'无'),
                  IFNULL(a.CARDNO,'无'),
                IFNULL(b.CELLPHONE,'无'),
                IFNULL(b.`NAME`,'无'),
                IFNULL(b.REMARK,'无')
            ) LIKE CONCAT('%',#{keyWord},'%')
        AND
            c.dept_id = (
            select dept_id
            FROM
              sys_user
            WHERE
                    user_id = #{userId}
        )
        GROUP BY a.guid
        limit #{current},#{limit}
    </select>-->

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT
            count(DISTINCT a.GUID)
        FROM
        case_info a
           LEFT JOIN case_contacts b ON a.GUID = b.CID
        WHERE 1=1 AND bankname = #{bankname}

        AND
        CONCAT_WS(
        IFNULL(a.ADDR,'无'),
        IFNULL(a.`NAME`,'无'),
        IFNULL(a.MOBILE,'无'),
        IFNULL(a.DEPTNAME,'无'),
        IFNULL(a.HOMEADDR,'无'),
        IFNULL(a.CERTNO,'无'),
        IFNULL(a.CARDNO,'无'),
         IFNULL(b.CELLPHONE,'无'),
          IFNULL(b.`NAME`,'无'),
          IFNULL(b.REMARK,'无')
        ) LIKE CONCAT('%',#{keyWord},'%')
        <if test="ownerid != null and ownerid != ''">
            and a.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and a.batchno = #{batchno}
        </if>
        <if test="batchnoType != null and batchnoType != ''">
            and a.batchnoType = #{batchnoType}
        </if>
        <if test="certno != null and certno != ''">
            and a.certno = #{certno}
        </if>
        <if test="frontTime != null and frontTime !='' and rearTime != null and rearTime !=''">
            and a.inputtime BETWEEN #{frontTime} and #{rearTime}
        </if>
    </select>


    <select id="selectCountbatchNo" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT a.GUID)
        FROM
        case_info a
        WHERE  1=1 and batchno = #{batchNo}

    </select>

    <select id="selectCountByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            case_info a
        LEFT JOIN sys_user b ON a.OWNERID = b.old_user_id
        WHERE
            `NAME` LIKE CONCAT('%', #{name}, '%')
        AND
            b.dept_id = (
                SELECT
                    dept_id
                FROM
                    sys_user
                WHERE user_id = #{userId}
        )
    </select>



    <select id="selectPageByName" resultType="com.github.pig.admin.model.entity.CaseInfo">
        SELECT
            a.*
        FROM
            case_info a
        LEFT JOIN sys_user b ON a.OWNERID = b.old_user_id
        WHERE
            `NAME` LIKE CONCAT('%', #{name}, '%')
        AND
            b.dept_id = (
                SELECT
                    dept_id
                FROM
                    sys_user
                WHERE user_id = #{userId}
        )
          limit #{current},#{limit}
    </select>


    <select id="selectCountNoKey"  resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            case_info a
        WHERE  1=1 AND bankname = #{bankname}
        <if test="ownerid != null and ownerid != ''">
            and a.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and a.batchno = #{batchno}
        </if>
        <if test="batchnoType != null and batchnoType != ''">
            and a.batchnoType = #{batchnoType}
        </if>
        <if test="certno != null and certno != ''">
            and a.certno = #{certno}
        </if>
        <if test="frontTime != null and frontTime !='' and rearTime != null and rearTime !=''">
            and a.inputtime BETWEEN #{frontTime} and #{rearTime}
        </if>
    </select>

    <select id="selectPageNoKey" resultType="com.github.pig.admin.model.entity.CaseInfo">
        SELECT
            a.*
        FROM
            case_info a
        WHERE  1=1 AND bankname = #{bankname}
        <if test="ownerid != null and ownerid != ''">
            and a.ownerid = #{ownerid}
        </if>
        <if test="batchno != null and batchno != ''">
            and a.batchno = #{batchno}
        </if>
        <if test="batchnoType != null and batchnoType != ''">
            and a.batchnoType = #{batchnoType}
        </if>
        <if test="certno != null and certno != ''">
            and a.certno = #{certno}
        </if>
        <if test = "sort == 'DESC' ">
            ORDER BY  CAST(balance AS DECIMAL) DESC
        </if>
        <if test = "sort == 'ASC' ">
            ORDER BY  CAST(balance AS DECIMAL) ASC
        </if>
        <if test="frontTime != null and frontTime !='' and rearTime != null and rearTime !=''">
            and a.inputtime BETWEEN #{frontTime} and #{rearTime}
        </if>
        <if test = "followSort != null and followSort != ''">
            ORDER BY CAST(a.OVERDUE AS SIGNED) ${followSort}
        </if>
        limit #{current},#{limit}
    </select>
    <update id="updateByUserId" parameterType="java.lang.Integer" >
        update  case_info
        <set>
                OWNERID=#{ownerId}
        </set>
        WHERE GUID=#{userId}
    </update>
    <select id="selectCaseInfoAllBank" parameterType="java.lang.String" resultType="com.github.pig.admin.model.entity.CaseInfo">
        SELECT * FROM case_info WHERE certno=#{certno}
    </select>

</mapper>
