<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.WriteCaseInfoMapper">
    <select id="WriteQuery" resultType="com.github.pig.admin.model.entity.WriteCaseInfo">
          SELECT c.BATCHNOTYPE,c.`NAME`,c.CLOSEDATE,c.BANKNAME,c.CARDNO,c.CERTNO,c.HOMEADDR,c.BALANCE,c.MOBILE,c.OWNERID FROM `case_info` c
    </select>
</mapper>
