<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.WriteCaseInfoMapper">
    <select id="WriteQuery" parameterType="string" resultType="com.github.pig.admin.model.entity.WriteCaseInfo">
        SELECT  c.BATCHNOTYPE,c.`NAME`,c.BATCHNO,c.BANKNAME,c.CARDNO,c.CERTNO,c.HOMEADDR,c.BALANCE,c.MOBILE,c.OWNERID FROM `case_info` c where 1 = 1
            <if test="bankname != null and bankname != ''">
                and c.bankname = #{bankname}
            </if>
            <if test="name != null and name != ''">
                and CONCAT(c.`NAME`,c.CARDNO,c.CERTNO,c.MOBILE,c.HOMEADDR) LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="batchno != null and batchno != ''">
                and c.batchno LIKE CONCAT('%',#{batchno},'%')
            </if>
            <if test="ownerid != null and ownerid != ''">
                and c.ownerid = #{ownerid}
            </if>
            <if test="batchnotype != null and batchnotype != ''">
                and c.batchnotype = #{batchnotype}
            </if>
            <if test="certno != null and certno != ''">
                and c.certno = #{certno}
            </if>
            <if test="frontTime != null and frontTime !='' and rearTime != null and rearTime !=''">
                and a.inputtime BETWEEN #{frontTime} and #{rearTime}
            </if>
    </select>
</mapper>
